API_PORT=3334
STRATUM_PORT=3333

# "https://api.mainnet-beta.solana.com" | "https://api.devnet.solana.com" | <custom>
SOLANA_URL="http://localhost:8899" # test validator url
# "processed" | "confirmed" | "finalized" | "recent" | "single" | "singleGossip" | "root" | "max"
SOLANA_COMMITMENT="confirmed" 

API_SECURE=false
