API_PORT=3334
STRATUM_PORT=3333

# "local" | "mainnet-beta" | "devnet" | <custom-url>; testnet is not supported
SOLANA_CLUSTER="devnet"

# used for local testing only (i.e. when SOLANA_CLUSTER is set to 'local')
COMPTO_PUBLIC_KEYS_PATH=

# "processed" | "confirmed" | "finalized" | "recent" | "single" | "singleGossip" | "root" | "max"
SOLANA_COMMITMENT="confirmed"

# the user account that will be used to sign transactions, pay for fees, and receive comptokens
SOLANA_USER=
# the path to the user account's keypair file, used if SOLANA_USER is not set
SOLANA_USER_PATH='~/.config/solana/id.json'

# the fee per submitted proof; 1 mining solution mines 100_00 comptokens, so 100 is 1%
FEE=100

API_SECURE=false
