API_PORT=3334
STRATUM_PORT=3333

# "local" | "mainnet-beta" | "devnet" | <custom-url>; testnet is not supported
SOLANA_CLUSTER="devnet"

# override for difficulty; if not set difficulty is based on network difficulty; this does not effect the
# mining algorithm, only the target difficulty for submitted shares, so if set too low it may result in
# shares being rejected by the pool. number is in compressed nbits format, e.g. 0x200eadd8
#COMPTOKEN_DIFFICULTY=

# "processed" | "confirmed" | "finalized" | "recent" | "single" | "singleGossip" | "root" | "max"
SOLANA_COMMITMENT="confirmed"

# the user account that will be used to sign transactions, pay for fees, and receive comptokens
SOLANA_USER=
# the path to the user account's keypair file, used if SOLANA_USER is not set
SOLANA_USER_PATH='~/.config/solana/id.json'

# the fee per submitted proof; 1 mining solution mines 100_00 comptokens, so 100 is 1%
FEE=100

API_SECURE=false
